.TimeForm {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
}

.TimeForm .timeForm-container {
    max-width: 400px;
    height: auto;
    padding: 16px 20px;
    border-radius: 5px;
    background-color: #98cfff;
}

.TimeForm .timeForm-container .title {
    text-align: center;
    padding-bottom: 5px;
}

.TimeForm .timeForm .timeForm-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.TimeForm .timeForm-details .input-container{
    margin: 10px 0 12px 0;
}

.TimeForm .timeForm-details .input-container input {
    height: 38px;
    width: 300px;
    display: block;
    color: black;
    font-size: 13px;
    padding-left: 10px;
}


.TimeForm .timeForm-details .input-container label {
    display: block;
    padding-bottom: 2px;
    padding-left: 2px;
}

.TimeForm  button {
    width: 100px;
    height: 40px;
    justify-content: center;
    margin-top: 25px;
    background-color: #c2def6;
    color: black;
}

.TimeForm .timeForm-details button:hover {
    background-color: #5fa7e6;
    color: white;
}

.TimeForm .input-container p {
    font-size: 13px;
    color: blue;
    margin-left: 1px;
    margin-bottom: -20px;
}

.TimeForm .input-container .inputError {
    border: 2px solid #FF8BA0;
}


.TimeForm .radio-btn input[type="radio"] {
    margin-left: 5px;
    margin-right: 5px;
}

.TimeForm .radio-btn-container label {
    margin-right: 15px;
}

.TimeForm .radio-btn-container2 #cancel-meet-label, #update-meet-label{
   font-size: 14px;
}

.TimeForm .radio-btn-container2 label {
    margin-right: 5px;
}

.TimeForm .radio-options label {
    font-size: 14px; 
}

.TimeForm .radio-btn-container{
    margin-top: 10px;
    margin-bottom: 2px;
  
}

.TimeForm .radio-btn-container2 {
    margin-top: 10px;
    margin-bottom: 2px;

}

.TimeForm .radio-btn-container p {
    font-size: 13px;
    color: blue;
    margin-bottom: -15px;
    margin-left: 0px;

}

.TimeForm .radio-btn-container2 p {
    font-size: 13px;
    color: blue;
    margin-bottom: -15px;
    margin-left: 0px;


}

.TimeForm .input-container #Available_Date{
    width: 200px;
}

.TimeForm .input-container #Update_Date {
    width: 200px;
}

.TimeForm .input-container .date-containter{
   margin-left: -95px;
}


.TimeForm .time-input-container {
    margin: 10px 0 12px 0;
}

.TimeForm .time-inner-container{
   display: flex;
   justify-content: space-between;

}


.TimeForm  .time-input #to {
    margin: 10px 5px;
    color: black;
}


.TimeForm .time-input-container .inputError {
    border: 2px solid #FF8BA0;
}

.TimeForm .time-input-container input {
    height: 37px;
    width: 130px;
    color: black;
    display:block;
    font-size: 13px;
    padding-left: 10px;
    
}

.TimeForm .time-input-container label {
    display: block;
    padding-bottom: 2px;
    padding-left: 2px;
}

.TimeForm .time-input-container p {
    font-size: 13px;
    color: blue;
    margin-left: 1px;
    margin-bottom: -20px;
}

.TimeForm .time-input-container .rdtPicker {
    height: 100px;
    min-width: 130px;
}

.TimeForm .time-input-container .rdtTime {
    font-size: 12px;
    justify-content: center;
}

.TimeForm .time-input-container .rdtCounters {
    font-size: 11px;
}